<!-- Page Footer -->
<section class="pre-footer-corporate">
  <div class="shell">
    <div class="range range-xs-center range-md-left range-30 range-sm-60">
      <div class="cell-xs-10 cell-sm-6 cell-md-10 cell-lg-3">
        <h6>Acerca de nosotros</h6>
        <p>{{ site.description | escape }}</p>
      </div>
      <div class="cell-xs-10 cell-sm-6 cell-md-3 cell-lg-3">
        <h6>Navegación</h6>
        <ul class="list-xxs">
          <li>
            <a href="http://ekipainteriores.com/sala/">SALA</a>
          </li>
          <li>
            <a href="http://ekipainteriores.com/comedor/">COMEDOR</a>
          </li>
          <li>
            <a href="http://ekipainteriores.com/dormitorio/">DORMITORIO</a>
          </li>
          <li>
            <a href="http://ekipainteriores.com/terraza/">TERRAZA</a>
          </li>
          <li>
            <a href="http://ekipainteriores.com/accesorios/">ACCESORIOS</a>
          </li>
          <li>
            <a href="http://ekipainteriores.com/estudio/">ESTUDIO</a>
          </li>
        </ul>
      </div>
      <div class="cell-xs-10 cell-sm-6 cell-md-4 cell-lg-3">
        <h6>Contactos</h6>
        <ul class="list-xs">
          <li>
            <dl class="list-terms-minimal">
              <dt>Dirección</dt>
              <dd>{{ site.address }}</dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <dt>Teléfonos</dt>
              <dd>{{ site.phones }}</dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <dt>Correo electrónico</dt>
              <dd>{{ site.email }}
              </dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <dt>Horarios de atención</dt>
              <dd>{{ site.attention_schedule }}</dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="cell-xs-10 cell-sm-6 cell-md-5 cell-lg-3">
        <h6>Comentarios de clientes</h6>
        <ul class="list-xs">
          <li>
            <!-- Comment minimal-->
            <article class="comment-minimal">
              <p class="comment-minimal__author">Tania Narvaez</p>
              <p class="comment-minimal__link">
                <a href="#">El juego de sofá que compré en Ekipa Interiores quedó perfecto en mi sala.</a>
              </p>
            </article>
          </li>
          <li>
            <!-- Comment minimal-->
            <article class="comment-minimal">
              <p class="comment-minimal__author">Kenneth Betancourt</p>
              <p class="comment-minimal__link">
                <a href="#">Las lámparas son bien bonitas.</a>
              </p>
            </article>
          </li>
          <li>
            <!-- Comment minimal-->
            <article class="comment-minimal">
              <p class="comment-minimal__author">Diana Huete</p>
              <p class="comment-minimal__link">
                <a href="#">Los asientos para mi oficina quedaron perfectos! Gracias Ekipa Interiores.</a>
              </p>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="footer-corporate">
  <div class="shell">
    <div class="footer-corporate__inner">
      <p class="rights">
        <span>Ekipa Interiores &copy;</span><span>&nbsp;</span><span id="copyright-year"></span>.
        <a target="_blank" rel="nofollow" href="http://pymes.chocoyolabs.com/">Powered by Chocoyo PYMES</a>
      </p>
      <ul class="list-inline-xxs">
        <li>
          <a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon icon-xxs icon-gray-4 fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon icon-xxs icon-gray-4 fa fa-instagram" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- Javascript-->
<script src="http://ekipainteriores.com/assets/scripts/core.min.js"></script>
<script src="http://ekipainteriores.com/assets/scripts/script.js"></script>
