<section class="section-sm bg-white section-limit">
  <div class="range range-xs-center range-50">
    <div class="cell-sm-4">
      <div class="banner-thumbnail banner-thumbnail-top">
        <a href="{{ site.data.index_one[0].url }}">
          <img src="{{ site.data.index_one[0].image }}" alt="" width="{{ site.data.index_one[0].width }}" height="{{ site.data.index_one[0].height }}">
        </a>
      </div>
    </div>
    <div class="cell-sm-4">
      <div class="banner-thumbnail banner-thumbnail-center">
        <a href="{{ site.data.index_one[1].url }}">
          <img src="{{ site.data.index_one[1].image }}" alt="" width="site.data.index_one[1].width" height="{{ site.data.index_one[1].height }}">
        </a>
      </div>
      <div class="banner-thumbnail banner-thumbnail-center">
        <a href="{{ site.data.index_one[2].url }}">
          <img src="{{ site.data.index_one[2].image }}" alt="" width="site.data.index_one[2].width" height="{{ site.data.index_one[2].height }}">
        </a>
      </div>
    </div>
    <div class="cell-sm-4">
      <div class="banner-thumbnail banner-thumbnail-top">
        <a href="{{ site.data.index_one[3].url }}">
          <img src="{{ site.data.index_one[3].image }}" alt="" width="{{ site.data.index_one[3].width }}" height="{{ site.data.index_one[3].height }}">
        </a>
      </div>
    </div>
  </div>
</section>
