<section class="section-lg bg-white">
        <div class="shell">
          <div class="range range-60 range-sm-center">
            <div class="cell-sm-6 cell-md-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle blurb-circle_centered">
                <div class="blurb-circle__icon"><span class="icon linear-icon-clock3"></span></div>
                <p class="blurb__title">De Lunes a Sábado</p>
                <p>Puedes visitarnos en horarios de oficina.</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle blurb-circle_centered">
                <div class="blurb-circle__icon"><span class="icon linear-icon-truck"></span></div>
                <p class="blurb__title">Entrega</p>
                <p>Entregamos los productos hasta la puerta de su casa.</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle blurb-circle_centered">
                <div class="blurb-circle__icon"><span class="icon linear-icon-medal-empty"></span></div>
                <p class="blurb__title"><a href="http://ekipainteriores.com/politicas/">Garantía</a></p>
                <p>Todos los productos cuentan con garantía de un año.</p>
              </article>
            </div>
          </div>
        </div>
      </section>
