<section class="section-lg bg-white">
        <div class="shell">
          <div class="range range-60 range-sm-center">
            <div class="cell-sm-6 cell-md-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle blurb-circle_centered">
                <div class="blurb-circle__icon"><span class="icon linear-icon-drop"></span></div>
                  <p class="blurb__title"><a href="http://ekipainteriores.com/uso-y-cuido/">Uso y Cuido</a></p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle blurb-circle_centered">
                <div class="blurb-circle__icon"><span class="icon linear-icon-license"></span></div>
                  <p class="blurb__title"><a href="http://ekipainteriores.com/terminos-y-condiciones/">Términos y Condiciones</a></p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle blurb-circle_centered">
                <div class="blurb-circle__icon"><span class="icon linear-icon-medal-empty"></span></div>
                <p class="blurb__title"><a href="http://ekipainteriores.com/politicas-cambio/">Cambios y Garantía</a></p>
              </article>
            </div>
          </div>
        </div>
      </section>
