<section class="section-lg bg-white">
  <div class="shell text-center">
    <h4>Descuentos de Temporada</h4>
    <!-- Owl Carousel-->
    <div class="owl-carousel carousel-product" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false" data-nav="true">
      {% for item in site.data.index_four %}
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap">
            <img src="{{ item.image }}" alt="{{ item.title }}" width="300" height="300"/>
            <div class="product-icon-wrap">
              {% if item.percentage %}
              <span>{{ item.percentage }}%</span>
              {% endif %}
            </div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li>{{ item.code }}</li>
            </ul>
            <h6 class="product-title">
              {{ item.title }}
            </h6>
            {% if item.percentage %}
            <p class="product-title">
              <span>{{ item.percentage }}%</span>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
