<section class="section-limit bg-gray-lighter bg-image bg-image-8">
  <div class="">
    <div class="range">
      <div class="cell-sm-5 cell-md-4 section-xl section-xl_bigger bg-image-8-text">
        <h3 class="wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="1.2s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0.2s; animation-name: fadeInUpSmall;">
          Pregunta por nuestros precios
        </h3>
        <p class="big wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration="1.2s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0.5s; animation-name: fadeInUpSmall;">
          Escríbenos desde nuestro formulario de contacto y con gusto te responderemos...
        </p>
        <a class="banner-link wow fadeInUpSmall" href="{{ site.url }}/contacto" data-wow-delay=".7s" data-wow-duration="1.2s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0.7s; animation-name: fadeInUpSmall;">
          Preguntar ahora!
        </a>
      </div>
    </div>
  </div>
</section>
