<section class="section-lg bg-white">
  <div class="shell text-center">
    <h4>Descuentos de Temporada</h4>
    <!-- Owl Carousel-->
    <div class="owl-carousel carousel-product" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false" data-nav="true">
      {% for post in site.posts %}
      {% if post.descount %}

      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap">
            {% if post.image %}
            <img src="{{ post.image }}" alt="" width="418" height="560"/>
            {% endif %}
            <div class="product-icon-wrap">
              {% if post.descount %}
              <span>{{ post.descount }}</span>
              {% endif %}
            </div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <h6 class="product-title">
              {{ post.title }}
            </h6>

            {% if post.descount %}
            <p class="product-title">
              <span>{{ post.descount }}</span>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
