<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

{% include head.html %}

<body>
  <!-- Page-->
  <div class="page">
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </div>

</body>

</html>
